*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: arial, sans-serif, tahoma, helvetica, verdana;
	font-size: 62.5%;    							/* 10px */
}

body{
	font-size: 1.6rem;								/* 16px */   
	font-weight: 700;
	color: rgba(22, 22, 22, 0.65);
}

a{
	text-decoration: none;
	color: #888888;
	font-weight: 900;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #dddddd;
}

button:focus{
	border: none;
	outline: none;
}

#wrapper{
	
}

header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#logo{
	margin: 1rem;
	padding: 1rem;
}

#logo img{
	width: 4rem;
	height: 3rem;
}

nav{
	flex: 1 1 25rem;
}

nav ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin: 1rem;
	padding: 1rem;
	list-style: none;
}

nav ul li{
	display: block;
	margin: 0.2rem 2rem;
	background-color: #dddddd;
}

nav ul li a{
	display: block;
	width: 15rem;
	height: 3rem;
	margin: 0.5rem auto;
	padding: 0.5rem;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

nav ul li a:hover{
	
}

main{
	display: grid;
	grid-gap: 0.5rem;									/* grid-row-gap: 0.5rem; grid-column-gap: 0.5rem; */
	grid-template-rows: auto;							/* row height will be dynamic; OR grid-auto-rows: minmax(100px, auto);*/
	grid-template-columns: 1fr;
	/*grid-template-areas: 
		"section";*/
	padding: 2rem;

	grid-auto-columns: max-content;					/* help smooth out certain instances when doing more than the minimum */
	grid-auto-flow: dense;							/* help smooth out certain instances when doing more than the minimum */
}

.product-item{
	/*grid-area: section;*/
	grid-column: span 1;
	grid-row: span 1;
	margin: 0.2rem;
	padding: 0.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.product-item:not(.product-item:last-of-type){
	border-bottom: 0.1rem solid #dddddd;
}

.product-item img{
	width: 6.5rem;
	max-width: 6.5rem;
}

.product-item .add{
	width: 20rem;
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 1rem;
	/*border: none;
	outline: none;
	cursor: pointer;
	background-color: #dddddd;*/
}

/*.product-item .add:focus{
	border: none;
	outline: none;
}*/

.product-item h2,
.product-item img,
.product-item p{
	margin-bottom: 1rem;
}

.product-desc{
	text-transform: capitalize;
}

.cart{
	width: 80%;
	/*min-height: 100vh;*/
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem 0;
	padding: 1rem;
	background-color: rgba(185, 185, 185, 0.8);

	/*transition: all 0.3s linear;
	transform: translateX(100%);*/
}

.cart-main,
.cart-footer{
	width: 100%;
}

.cart-main{}

.cart-top{
	display: grid;
	grid-template-columns: 5fr 1fr;
	margin-bottom: 2rem;
	border-bottom: 0.2rem solid #ffffff;
}

.cart-top h3{
	display: block;
	margin: 1rem auto;
	padding: 0.5rem;
}

.cart-top a{
	display: block;
	margin: 1rem 2rem 1rem auto;
	padding: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #aa3333;
	border: 0.1rem solid #dddddd;
	border-radius: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 1.4rem;
	cursor: pointer;
}

.cart-item{
	display: grid;
	grid-template-columns: 5fr 1fr;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

/*.cart-item:not(.cart-item:last-of-type){
	border-bottom: 0.1rem solid #222222;
}*/

.cart-item{
	border-bottom: 0.1rem solid #222222;
}

.cart-detail,
.cart-number{
	display: flex;
	flex-direction: column;
}

.cart-detail-span{
	text-align: center;
	color: #337733;
}

.product-count{
	color: #aa3333;
}

.cart-number{}

.cart-number-btn{
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 0.5rem;
	margin-bottom: 0.3rem;
	/*border: none;
	outline: none;
	cursor: pointer;
	background-color: #dedede;*/
}

/*.cart-number-btn:focus{
	border: none;
	outline: none;
}*/

.cart-footer{}

.cart-out{
	margin: 2rem 0;
	border-bottom: 0.2rem solid #ffffff;
}

.cart-out-btn{
	width: 12rem;
	margin: 1rem 2rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	/*border: none;
	outline: none;
	cursor: pointer;
	background-color: #dedede;*/
}

/*.empty-cart:focus,
.checkout:focus{
	border: none;
	outline: none;
}*/

.checkout{

}

.cart-total{
	display: grid;
	grid-template-columns: 5fr 1fr;
	font-size: 1.8rem;
}

.cart-total p{
	padding-left: 2rem;
	color: rgba(22, 22, 22, 1);
}

.cart-total strong{
	padding-right: 1rem;
	color: #aa3333;
}

footer{
	text-align: center;
	margin-top: 2rem;
	/*position: sticky;
	bottom: 0;*/
}


/*=== LARGER SCREENS ===*/
@media screen and (min-width: 768px){
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	nav ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		margin: 1rem;
		padding: 1rem;
		list-style: none;
	}

	nav ul li{
		margin: 0 2rem;
		background: none;
	}

	/*nav ul li a{
		display: block;
		width: 15rem;
		height: 3rem;
		margin: 0.5rem;
		padding: 0.5rem;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
	}*/

	nav ul li a:hover{
		border-bottom: 0.3rem solid #36ef36;
	}

	main{
		/*grid-template-columns: 1fr 1fr 1fr 1fr;		* each grid width should be 300px hence 4*300px=1200px */
		/*grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));*/
		/*grid-template-columns: repeat(auto-fit, 30rem); * grid with 30rem column width and wrap to next row when no room */
		/*grid-template-columns: repeat(6, 1fr); */ 
		/*grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));  - this fit grid-items to the available space even if only one item*/
		grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	}

	.product-item{
		border: 0.1rem solid #dddddd;
	}

	.cart{
		width: 40rem;
		/*min-height: 85vh;*/
		top: 8rem;
	}

	footer{
		border-top: 0.1rem solid #dddddd;
		padding: 2rem;
	}






}


/*
grid with columns (20rem wide in this example) that are arranged automatically 
in the available space, wrapping to the next row when there’s not enough room.
.grid {
display: grid;
gap: 1rem;
grid-template-columns: repeat(auto-fit, 20rem);
}

where 1 / -1 means “start in column 1, and span every column up to the very last one.”
.fullwidth {
grid-column: 1 / -1;
}


.grid {
grid-auto-flow: dense;
}
*/




