*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: arial, sans-serif, tahoma, helvetica, verdana;
	font-size: 62.5%;    							/* 10px */
}

body{
	font-size: 1.6rem;								/* 16px */   
	font-weight: 700;
	color: rgba(22, 22, 22, 0.65);
}

a{
	text-decoration: none;
	color: #888888;
	font-weight: 900;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #dddddd;
}

button:focus{
	border: none;
	outline: none;
}

#wrapper{
	
}

header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#logo{
	margin: 1rem;
	padding: 1rem;
}

#logo img{
	width: 4rem;
	height: 3rem;
}

nav{
	flex: 1 1 25rem;
}

nav ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin: 1rem;
	padding: 1rem;
	list-style: none;
}

nav ul li{
	display: block;
	margin: 0.2rem 2rem;
	background-color: #dddddd;
}

nav ul li a{
	display: block;
	width: 15rem;
	height: 3rem;
	margin: 0.5rem auto;
	padding: 0.5rem;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

nav ul li a:hover{
	
}

nav ul li a span{
	margin-left: 0.2rem;
	position: relative;
}

nav ul li a span img{
	width: 2rem;
	height: 1.5rem;
	margin-top: 0.5rem;
}

nav ul li a span strong{
	position: absolute;
	left: 0.5rem;
	top: -0.5rem;
	font-size: 1.5rem;
	color: #ff0000;
	font-weight: bold;
}

.hide-cart-count{
	display: none;
}

main{
	display: grid;
	grid-gap: 0.5rem;									/* grid-row-gap: 0.5rem; grid-column-gap: 0.5rem; */
	grid-template-rows: auto;							/* row height will be dynamic; OR grid-auto-rows: minmax(100px, auto);*/
	grid-template-columns: 1fr;
	padding: 2rem;

	grid-auto-columns: max-content;					/* help smooth out certain instances when doing more than the minimum */
	grid-auto-flow: dense;							/* help smooth out certain instances when doing more than the minimum */
}

.product-item{
	grid-column: span 1;
	grid-row: span 1;
	margin: 0.2rem;
	padding: 0.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.product-item:not(.product-item:last-of-type){
	border-bottom: 0.1rem solid #dddddd;
}

.product-item img{
	width: 6.5rem;
	max-width: 6.5rem;
}

.product-item .add{
	width: 20rem;
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 1rem;
}

.product-item h2,
.product-item img,
.product-item p{
	margin-bottom: 1rem;
}

.product-desc{
	text-transform: capitalize;
}

.cart{
	width: 80%;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem 0;
	padding: 1rem;
	background-color: rgba(185, 185, 185, 0.8);
	transition: all 0.5s linear;
	transform: translateX(100%);
}

.show-cart{
	transform: translateX(0);
}

.cart-main,
.cart-footer{
	width: 100%;
}

.cart-main{}

.cart-top{
	display: grid;
	grid-template-columns: 5fr 1fr;
	margin-bottom: 2rem;
	border-bottom: 0.2rem solid #ffffff;
}

.cart-top h3{
	display: block;
	margin: 1rem auto;
	padding: 0.5rem;
}

.cart-top a{
	display: block;
	margin: 1rem 2rem 1rem auto;
	padding: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #aa3333;
	border: 0.1rem solid #dddddd;
	border-radius: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 1.4rem;
	cursor: pointer;
}

.cart-item{
	display: grid;
	grid-template-columns: 5fr 1fr;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.cart-item{
	border-bottom: 0.1rem solid #222222;
}

.cart-detail,
.cart-number{
	display: flex;
	flex-direction: column;
}

.cart-detail-span{
	text-align: center;
	color: #337733;
}

.product-count{
	color: #aa3333;
}

.cart-number{}

.cart-number-btn{
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 0.5rem;
	margin-bottom: 0.3rem;
}

.cart-footer{}

.cart-out{
	margin: 2rem 0;
	border-bottom: 0.2rem solid #ffffff;
}

.cart-out-btn{
	width: 12rem;
	margin: 1rem 2rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-weight: bold;
}

.checkout{

}

.cart-total{
	display: grid;
	grid-template-columns: 5fr 1fr;
	font-size: 1.8rem;
}

.cart-total p{
	padding-left: 2rem;
	color: rgba(22, 22, 22, 1);
}

.cart-total strong{
	padding-right: 1rem;
	color: #aa3333;
}

.cart-checkout{
	position: absolute;
	top: 10rem;
	left: 1%;
	right: 1%;
	width: 95%;
	margin: 4rem auto auto auto;
	padding: 2rem;
	border: 0.1rem solid #dddddd;
	border-radius: 1rem;
	background-color: rgba(185, 185, 185, 0.8);
}

.cart-checkout h3{
	text-align: center;
	padding-bottom: 0.5rem;
}

.purchases ul{
	list-style: none;
}

.purchases li{
	padding: 0.2rem;
	margin: 0.2rem;
}

.cart-checkout p{
	padding-top: 1rem;
	padding-bottom: 2rem;
	text-align: center;
}

.cart-checkout-footer{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cancel-checkout-btn{
	width: 8rem;
	height: 3rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 0.5rem;
	margin-bottom: 0.3rem;
}

.continue-checkout-btn{
	width: 8rem;
	height: 3rem;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 0.5rem;
	margin-bottom: 0.3rem;
}

#login-register{
	position: absolute;
	top: 10rem;
	left: 1%;
	right: 1%;
	width: 95%;
	max-width: 40rem;
	margin: 4rem auto auto auto;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	border: 0.1rem solid #dddddd;
	border-radius: 1rem;
	background-color: rgba(185, 185, 185, 0.8);
}

.form-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.form-header a{
	display: block;
	margin-left: 1rem;
}

.form-header a:last-child{
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-weight: bold;
	color: #ffffff;
	margin: 0.5rem;
	border: 0.1rem solid #ffffff;
	border-radius: 50%;
	text-align: center;
	background-color: #777777;
}

.form-header img{
	width: 4rem;
	height: 3rem;
}

.form-header h2{
	font-weight: bold;
	margin: 0.5rem auto;
}

.form-input,
.form-submit{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
}

.form-input label,
.form-input input{
	width: 100%;
	max-width: 35rem;
}

.form-input label{
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
}

.form-input input{
	
}

.form-submit button{
	width: 20rem;
	padding: 1rem;
	border-radius: 1rem;
}

.form-switch{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.form-switch p{
	margin: 1rem 0.5rem 1rem auto;
}

.form-switch a{
	margin: 1rem auto 1rem 0.5rem;
	color: #aa3333;
}

.form-logout{
	text-align: center;
}

.form-logout a{
	margin: 1rem auto 1rem 0.5rem;
	color: #aa3333;
	font-size: 1rem;
}

.hide-element{
	visibility: hidden;
	display: none;
	flex: 1 1 100%;
}

.hide-form{
	visibility: hidden;
	display: none;
}

footer{
	text-align: center;
	margin-top: 2rem;
}


/*=== LARGER SCREENS ===*/
@media screen and (min-width: 768px){
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	nav ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		margin: 1rem;
		padding: 1rem;
		list-style: none;
	}

	nav ul li{
		margin: 0 2rem;
		background: none;
	}

	nav ul li a:hover{
		border-bottom: 0.3rem solid #36ef36;
	}

	main{
		grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	}

	.product-item{
		border: 0.1rem solid #dddddd;
	}

	.cart{
		width: 40rem;
		top: 8rem;
	}

	.cart-checkout{
		width: 95%;
		max-width: 60rem;
	}

	.cancel-checkout-btn{
		width: 15rem;
		height: 3rem;
		font-size: 1.6rem;
	}

	.continue-checkout-btn{
		width: 15rem;
		height: 3rem;
		font-size: 1.6rem;
	}

	#login-register{
		left: 10%;
		right: 10%;
	}

	footer{
		border-top: 0.1rem solid #dddddd;
		padding: 2rem;
	}

}